fa[name=truck] {
    color: #DF691A
}
.list-group-item.d-flex {
    padding: 3px;
}
.connect fa {
    color: #76FF03;
    cursor: pointer;
}
.disconnect fa {
    color: #E0E0E0;
    cursor: pointer;
}