.list-group-item-detail {
    border-color: #DF691A;
}


.recibido {
    /* border-color: #d9534f; */
}
    .recibido .badge.badge-pill.badge-primary {
        background: #d9534f;
        
    }
.asignado {
    /* border-color: #FFF176; */
}
    .asignado .badge.badge-pill.badge-primary {
        background: #FFF176;
        
        color: #37424A;
    }
.en-ruta{
    /* border-color: #03A9F4; */
}
    .en-ruta .badge.badge-pill.badge-primary {
        background: #03A9F4;
        
    }
.entregado {
    /* border-color: #5cb85c; */
}
    .entregado .badge.badge-pill.badge-primary { 
        background: #5cb85c;
        
    }
.cancelado {
    /* border-color: #37424A; */
}
    .cancelado .badge.badge-pill.badge-primary {
        background: #37424A;
        
    }

@media (min-width: 576px) {
    .card-columns {
         -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
 }

@media (min-width: 768px) {
    .card-columns {
         -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
 }

@media (min-width: 992px) {
    .card-columns {
         -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
    .modal-body .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
 }