<div class="row principal" *ngIf="allItems">
  <div class="col col-sm-6 col-md-6 col-lg-4" *ngFor="let order of allItems">
    <div class="card" [ngClass]="{
                        'recibido': selectedState == 'RECIBIDO', 
                        'asignado': selectedState == 'ASIGNADO',
                        'en-ruta': selectedState == 'EN RUTA',
                        'entregado': selectedState == 'ENTREGADO',
                        'cancelado': selectedState == 'CANCELADO'
                      }">
      <div class="card-block">
        <h6 class="card-title d-flex justify-content-between align-items-center">
          <span class="badge badge-pill badge-primary">{{order.orderNumber }}</span>
          <span>{{ order.address?.location }}</span>
          <fa name="asd"></fa>
        </h6>
        <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-between align-items-center">
          <fa name="handshake-o"></fa>
          <span>{{ order.client?.fullname }}</span>
          <fa name="asd"></fa>
        </h6>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item justify-content-between">
          <fa name="truck"></fa>
          <span *ngIf="order.vehicle">{{ order.vehicle?.licensePlate }}</span>
          <span *ngIf="!order.vehicle">
            <button type="button" class="btn btn-primary" (click)="open(vehicles, order, 'lg')">ASIGNAR</button>
          </span>
        </li>
        <li class="list-group-item justify-content-between">
          <fa name="calendar"></fa>
          <span>{{ order.commitmentDate | date: 'dd-MM-yyyy HH:mm' }}</span>
        </li>
        <li class="list-group-item justify-content-between" *ngIf="order.device">
            <fa name="mobile"></fa>
            <span>{{ order.device?.pos }}</span>
          </li>
      </ul>
      <div class="card-footer">
        <button class="btn btn-outline-primary" ngbTooltip="COORDENADAS" *ngIf="order.address && order.address.coordinates" (click)="open(map, order, 'lg')">
            <fa name="map-marker"></fa>
          </button>
        <button class="btn btn-outline-secondary" ngbTooltip="DETALLE DE PEDIDO" (click)="open(detail, order, 'sm')">
            <fa name="list"></fa>
          </button>
        <button class="btn btn-outline-danger" ngbTooltip="CANCELAR PEDIDO" (click)="cancel(order._id)" *ngIf="order.status != 'CANCELADO' && order.status != 'ENTREGADO'">
            <fa name="times"></fa>    
          </button>
        <button class="btn btn-outline-success" ngbTooltip="DETALLE ENTREGA" (click)="open(saleDetail, order, 'lg')" *ngIf="order.status == 'ENTREGADO'">
            <fa name="check-square-o"></fa>    
          </button>
      </div>
    </div>

    <div class="card" *ngIf="allItems && allItems.length == 0">
      <div class="card-block text-center">
        NO HAY REGISTROS EN ESTADO {{selectedState}}
      </div>
    </div>
  </div>

</div>
<ng-template #detail let-c="close" let-d="dismiss">
  <div class="modal-header">
    <!-- <h4 class="modal-title">{{ selectedClient.fullname }}</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <app-order-detail [items]="orderSelected.items"></app-order-detail>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #map let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ orderSelected.address?.location }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body" *ngIf="orderSelected">
    <agm-map [latitude]="orderSelected.address?.coordinates?.lat || 0" [longitude]="orderSelected.address?.coordinates?.lng || 0"
      [zoom]="zoom" [minZoom]="minZoom">
      <agm-marker [latitude]="orderSelected.address?.coordinates?.lat || 0" [longitude]="orderSelected.address?.coordinates?.lng || 0"
        [markerDraggable]="false">
      </agm-marker>
    </agm-map>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #vehicles let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Asignar vehículo</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <app-vehiculos [fromModal]="true" (selected)="d(''); onSelectedVehicle($event)"></app-vehiculos>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #saleDetail let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Detalle de Entrega</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <app-sale-detail [orderId]="orderSelected._id"></app-sale-detail>    
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
    </div>
  </ng-template>
  
