<table class="table table-hover table-sm table-details">
  <tbody>
    <tr>
      <th>Nit</th>
      <td [ngClass]="{'destacado': client.nit && filter && client.nit?.toLowerCase().indexOf(filter.toLowerCase()) > -1}">{{ client.nit }}</td>
    </tr>
    <tr>
      <th>Dirección</th>
      <td [ngClass]="{'destacado': client.address && filter && client.address?.toLowerCase().indexOf(filter.toLowerCase()) > -1}">{{ client.address }}</td>
    </tr>
    <tr>
      <th>{{ regionName }}</th>
      <td [ngClass]="{'destacado': client.region && filter && client.region?.toLowerCase().indexOf(filter.toLowerCase()) > -1}">{{ client.region }}</td>
    </tr>
    <tr>
      <th>{{ cityName }}</th>
      <td [ngClass]="{'destacado': client.city && filter && client.city?.toLowerCase().indexOf(filter.toLowerCase()) > -1}">{{ client.city }}</td>
    </tr>
    <tr>
      <th>Teléfono</th>
      <td [ngClass]="{'destacado': client.phone && filter && client.phone?.toLowerCase().indexOf(filter.toLowerCase()) > -1}">{{ client.phone }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td [ngClass]="{'destacado': client.email && filter && client.email?.toLowerCase().indexOf(filter.toLowerCase()) > -1}">{{ client.email }}</td>
    </tr>
  </tbody>
</table>
