<div class="container principal">
  <div class="row">
    <div class="col">
      <form novalidate [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()">
        <div class="card">
          <div class="card-header d-flex flex-row justify-content-between align-items-center">
            <button class="btn btn-secondary" type="button" *ngIf="!fromModal" (click)="onCancel()" title="Volver">
              <fa name="arrow-left"></fa>
            </button>
            <h1>Clientes</h1>
            <fa name="handshake-o" size="2x"></fa>
          </div>
          <div class="card-block">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
              <ngb-panel title="Datos Cliente">
                <ng-template ngbPanelContent>
                  <div class="form-group" [ngClass]="{'has-success': form.get('nit').valid, 'has-danger':!form.get('nit').valid && form.get('nit').touched }">
                    <label for="" class="form-control-label">Nit (*)</label>
                    <input type="text" class="form-control" [ngClass]="{'form-control-success': form.get('nit').valid, 'form-control-danger':!form.get('nit').valid && form.get('nit').touched }"
                      formControlName="nit" placeholder="Nit del cliente">
                    <div class="form-control-feedback">
                      <div *ngIf="!form.get('nit').valid && form.get('nit').touched">
                        Ingrese el nit del cliente
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group" [ngClass]="{'has-success': form.get('name').valid, 'has-danger':!form.get('name').valid && form.get('name').touched }">
                        <label for="" class="form-control-label">Nombre (*)</label>
                        <input type="text" class="form-control" [ngClass]="{'form-control-success': form.get('name').valid, 'form-control-danger':!form.get('name').valid && form.get('name').touched }"
                          formControlName="name" placeholder="Nombre del cliente">
                        <div class="form-control-feedback">
                          <div *ngIf="!form.get('name').valid && form.get('name').touched">
                            Ingrese el nombre del cliente
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="" class="form-control-label">Apellido:</label>
                        <input type="text" class="form-control" formControlName="surname" placeholder="Apellido (Opcional)">
                      </div>
                    </div>
                  </div>
                  <div class="form-group" [ngClass]="{'has-success': form.get('contact').valid, 'has-danger':!form.get('contact').valid && form.get('contact').touched }">
                    <label for="" class="form-control-label">Nombre de contacto (*)</label>
                    <input type="text" class="form-control" [ngClass]="{'form-control-success': form.get('contact').valid, 'form-control-danger':!form.get('contact').valid && form.get('contact').touched }"
                      formControlName="contact" placeholder="Nombre de contacto">
                    <div class="form-control-feedback">
                      <div *ngIf="!form.get('contact').valid && form.get('contact').touched">
                        Ingrese el nombre de la persona contacto del cliente
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="" class="form-control-label">Teléfono de contacto:</label>
                        <input type="text" class="form-control" formControlName="phone" placeholder="Teléfono de contacto">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group" [ngClass]="{'has-success': form.get('email').valid, 'has-danger':!form.get('email').valid && form.get('email').touched }">
                        <label for="" class="form-control-label">Email de contacto (*)</label>
                        <input type="email" class="form-control" formControlName="email" placeholder="Email de contacto" [ngClass]="{'form-control-success': form.get('email').valid, 'form-control-danger':!form.get('email').valid && form.get('email').touched }">
                        <div class="form-control-feedback">
                          <div *ngIf="!form.get('email').valid && form.get('email').touched">
                            Ingrese un e-mail válido
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" [ngClass]="{'has-success': form.get('address').valid, 'has-danger':!form.get('address').valid && form.get('address').touched }">
                    <label for="" class="form-control-label">Dirección (*)</label>
                    <input type="text" class="form-control" [ngClass]="{'form-control-success': form.get('address').valid, 'form-control-danger':!form.get('address').valid && form.get('address').touched }"
                      formControlName="address" placeholder="Dirección">
                    <div class="form-control-feedback">
                      <div *ngIf="!form.get('address').valid && form.get('address').touched">
                        Ingrese una dirección para el cliente
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group" [ngClass]="{'has-success': !form.get('region').errors, 'has-danger': form.get('region').errors && (form.get('region').dirty || form.get('region').touched) }">
                        <label class="form-control-label">{{ regionName }} (*)</label>
                        <ng-select filterPlaceholder="Buscar {{ regionName }}..." notFoundMsg="No se encontró ningún {{ regionName }}" highlightColor="#37424A"
                          highlightTextColor="#fff" placeholder="Seleccione {{ regionName }}..." [options]="regions" [allowClear]="true"
                          [noFilter]="5" formControlName="region" (selected)="onSelectRegion($event)" (deselected)="onDeselectRegion($event)">
                        </ng-select>
                        <div class="form-control-feedback">
                          <div *ngIf="!form.get('region').valid && form.get('region').touched">
                            Ingrese un {{ regionName }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group" [ngClass]="{'has-success': !form.get('city').errors, 'has-danger': form.get('city').errors && (form.get('city').dirty || form.get('city').touched) }">
                        <label class="form-control-label">{{ cityName }} (*)</label>
                        <ng-select filterPlaceholder="Buscar {{ cityName }}..." notFoundMsg="No se encontró {{ cityName }}" highlightColor="#37424A"
                          highlightTextColor="#fff" placeholder="Seleccione {{ cityName }}..." [options]="cities" [allowClear]="true"
                          [noFilter]="5" formControlName="city" (selected)="onSelectCity($event)" (deselected)="onDeselectCity($event)">
                        </ng-select>
                        <div class="form-control-feedback">
                          <div *ngIf="!form.get('city').valid && form.get('city').touched">
                            Ingrese un {{ cityName }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel title="Descuentos y Recargos">
                <ng-template ngbPanelContent>
                  <div formArrayName="discountSurcharges" *ngIf="discountSurcharges.controls">
                    <div *ngFor="let control of discountSurcharges.controls; let i = index">
                      <div formGroupName="{{i}}" class="row">
                        <div class="form-group col">
                          <input formControlName="productTypeName" class="form-control" placeholder="Producto">
                        </div>
                        <div class="form-group col" >
                          <label class="custom-control custom-radio">
                              <input type="radio" formControlName="isDiscount" [checked]="form.value.discountSurcharges[i].isDiscount" [value]="true" class="custom-control-input">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Descuento</span>
                            </label>
                            <label class="custom-control custom-radio">
                              <input type="radio" formControlName="isDiscount" [checked]="!form.value.discountSurcharges[i].isDiscount" [value]="false" class="custom-control-input">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">Recargo</span>
                            </label>
                        </div>
                        <div class="form-group col" [ngClass]="{'has-success': control.valid && control.touched, 'has-danger': !control.valid && control.touched}">
                          <div class="input-group">
                            <span class="input-group-addon"><fa name="usd"></fa></span>
                            <input type="number" min="0" formControlName="value" class="form-control" placeholder="Descuento" [ngClass]="{'form-control-success': control.valid && control.touched, 'form-control-danger': !control.valid && control.touched}">
                          </div>
                          <div class="form-control-feedback" *ngIf="!control.valid && control.touched">
                            Ingrese una cantidad. (Si no trabaja con el producto indique "0")
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary btn-block" type="submit" [disabled]="!form.valid">
              <fa name="save"></fa> GUARDAR
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>