<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="page-header d-flex flex-row justify-content-between align-items-center">
        <fa name="usd" size="2x"></fa>
        <h1>Listas de Precio</h1>
        <a class="btn btn-outline-primary" routerLink="/price-list/new">
          <fa name="plus"></fa> NUEVA</a>
      </div>
    </div>
  </div>

  <app-price-list-list 
      [priceLists]="priceLists"
      (onDeletePriceList)="onDelete()"
    ></app-price-list-list>

</div>
