<div class="row">
  <div class="col-12 col-lg-6" *ngFor="let user of users">
    <div class="card" [ngClass]="{'disabled': user.disabled}">
      <div class="card-header">
        <h3 class="d-flex flex-row justify-content-between align-items-center">
          <span>{{ user.name }} {{ user.surname }}</span>
          <span>
            <fa [ngClass]="{'text-warning': user.tempPassword, 'text-success': !user.tempPassword }" name="{{ user.tempPassword ? 'clock-o' : 'check' }}"
              ngbTooltip="{{ user.tempPassword ? 'PENDIENTE ACTIVACIÓN' : 'ACTIVADO' }}"></fa>
          </span>
        </h3>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-sm-4 col-md-4 d-flex flex-column justify-content-center align-items-center">
            <div>
              <img [src]=" user.image ? apiUrl + 'get-image-user/' + user.image : '../../assets/images/user_default.png'" alt="" class="img-fluid rounded mx-auto d-block img-user">
            </div>
          </div>
          <div class="col-xl-8 col-lg-8 col-sm-8 col-md-8 d-flex flex-column justify-content-center align-items-center">
            <div class="w-100">
              <table class="table table-striped table-details table-sm">
                <tbody>
                  <tr>
                    <th scope="row">Nombre de usuario</th>
                    <td>{{ user.username }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Fecha de ingreso</th>
                    <td>{{ user.createdAt | date:'dd-MM-yyyy'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">E-mail</th>
                    <td>{{ user.email }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Roles</th>
                    <td>{{ user.roles.join(', ') || '-' }}</td>
                  </tr>
                  <tr>
                    <th scope="row" *ngIf="user.vehicle">Vehículo</th>
                    <td *ngIf="user.vehicle">{{ user.vehicle?.licensePlate }}</td>
                  </tr>
                  <tr>
                    <th scope="row" *ngIf="user.dependence">Dependencia</th>
                    <td *ngIf="user.dependence">{{ user.dependence?.name }}</td>
                  </tr>
                  <tr>
                    <th scope="row" *ngIf="user.device">POS</th>
                    <td *ngIf="user.device">{{ user.device?.pos }}</td>
                  </tr>
                  <tr>
                    <th scope="row" *ngIf="user.internalProcessTypes && user.internalProcessTypes.length">Procesos Internos</th>
                    <td *ngIf="user.internalProcessTypes && user.internalProcessTypes.length">
                      <div *ngFor="let ip of user.internalProcessTypes">
                        {{ ip.name }}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
      <div class="card-footer" *ngIf="iAm(user) || iAmAdmin">
        <button class="btn btn-outline-primary" ngbTooltip="EDITAR" [routerLink]="['edit', user._id]">
          <fa name="pencil"></fa>
        </button>
        <button class="btn btn-outline-danger" ngbTooltip="DESHABILITAR" *ngIf="!iAm(user) && iAmAdmin && !user.disabled" (click)="tryDisable(user)">
          <fa name="times"></fa>
        </button>
        <button class="btn btn-outline-success" ngbTooltip="HABILITAR" *ngIf="iAmAdmin && user.disabled" (click)="tryEnable(user)">
          <fa name="check"></fa>
        </button>
      </div>
    </div>
  </div>

</div>