.item-picture {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 8px #111;
    border: 4px solid #FFF;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    bottom: 40px;
}
.change-image {
    font-size: 1.25em;
    font-weight: 400;
    color: rgba(255,255,255,0.7);
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 5px;
    margin-top: -35px;
}
.change-image:hover {
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
}
.pic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-right: 10px;
    flex: 0 0 30%;
}
.img-user {
    border: 2px solid #FFF;
    margin-bottom: 10px;
    max-height: 250px;
}