input.form-control-filter {
    width: 45%;
    margin-left: 10px;
}
select.form-control-filter {
    width: 20%;
    margin-bottom: -2px;
}
#table {
    max-height: 235px;
    overflow: auto;
}
.advanced-pie-legend-wrapper {
    display: block !important;
    width: 100%;
}