input.form-control-filter {
    width: 45%;
    margin-left: 10px;
}
select.form-control-filter {
    width: 20%;
    margin-bottom: -2px;
}
#table {
    max-height: 235px;
    overflow: auto;
}
.advanced-pie-legend-wrapper {
    display: block !important;
    width: 100%;
}
.card-resume {
    cursor: pointer;
}
.recibido {
    border-color: #d9534f;
}
    .recibido .card-header {
        background: #d9534f;
    }
.asignado {
    border-color: #FFF176;
}
    .asignado .card-header {
        background: #FFF176;
        color: #37424A;
    }
.en-ruta{
    border-color: #03A9F4;
}
    .en-ruta .card-header {
        background: #03A9F4;
    }
.entregado {
    border-color: #5cb85c;
}
    .entregado .card-header { 
        background: #5cb85c;
    }
.cancelado {
    border-color: #37424A;
}
    .cancelado .card-header {
        background: #37424A;
    }
