<div class="card tree" *ngFor="let dependence of dependences" [ngClass]="{'selected': selected && selected._id == dependence._id}">
  <div class="card-block">
    <div class="tree-title d-flex p-2 flex-row justify-content-between align-items-center">
      <button class="btn btn-sm" [ngClass]="{'btn-primary': selected && selected._id == dependence._id, 'btn-secondary': !selected || (selected._id != dependence._id)}" (click)="toggleDependence(dependence)">
        <fa name="{{selected && selected._id == dependence._id ? 'minus' : 'plus'}}"></fa>
      </button>
      <span class="tree-title-span">{{ dependence.name }}</span>
      <button class="btn btn-sm btn-success" [disabled]="loadingExcel" (click)="exportDependence(dependence._id)">
          <fa name="{{ loadingExcel ? 'spinner' : 'file-excel-o'}}" animation="{{ loadingExcel ? 'spin' : ''}}"></fa>
        </button>
    </div>
    <div *ngIf="selected && selected._id == dependence._id" class="branch">
      <app-stock-warehouses *ngIf="selected && selected.warehouses" 
        [warehouses]="selected.warehouses" 
        [selectedWarehouse]="selectedWarehouse" 
        [selectedType]="selectedType" 
        [selectedNif]="selectedNif"
        (exportingType)="exportWarehouseType($event)"
        (exportingWarehouse)="exportWarehouse($event)"
      >
      </app-stock-warehouses>
    </div>
  </div>
</div>
