<div class="detail-view">
  <h3>MANTENCIÓN</h3>
  <div class="row">
      <div class="col">
          <section>
              <div class="row">
                  <div class="col">
                      <div class="label">Documento</div>
                      <div class="data">{{ data.document?.folio }}</div>
                  </div>
                  <div class="col">
                      <div class="label">Origen</div>
                      <div class="data">{{ data.originWarehouse?.name}}</div>
                  </div>
                  <div class="col">
                      <div class="label">Destino</div>
                      <div class="data">{{ data.destinyWarehouse?.name }}</div>
                  </div>
              </div>
          </section>
      </div>
  </div>