<div class="container">
  <div class="row">
    <div class="col">
      <div class="card card-principal">
        <div class="card-header d-flex flex-row justify-content-between align-items-center">
          <button class="btn btn-secondary" (click)="onCancel()" title="Volver">
            <fa name="arrow-left"></fa>
          </button>
          <h2>Nuevo Pedido</h2>
          <fa name="truck" size="3x"></fa>
        </div>
        <div class="card-block">
          <div class="container">
            <form novalidate #form="ngForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col">
                  <div class="d-flex flex-row justify-content-center">
                    <label class="custom-control custom-radio d-flex ">
                      <input id="radio1" [(ngModel)]="order.type" value="ENVASADO" name="type" type="radio" class="custom-control-input" (change)="onChangeType('ENVASADO')">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">ENVASADO</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input id="radio2" [(ngModel)]="order.type" value="GRANEL" name="type" type="radio" class="custom-control-input" (change)="onChangeType('GRANEL')">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">GRANEL</span>
                    </label>
                  </div>
                </div>
              </div>
              <hr>
              <div class="text-center">
                <h5> CLIENTE </h5>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group" *ngIf="!order.client">
                    <ng2-completer required #search="ngModel" [(ngModel)]="searchStr" name="searchStr" (selected)="onSearchClient($event)" matchClass="match"
                      inputClass="form-control-filter" [datasource]="dataService" [minSearchLength]="1" textNoResults="Sin coincidencias."
                      textSearching="Buscando Clientes..." placeholder="Búsqueda rápida de cliente por nit, nombre, dirección, ciudad, etc"
                      autoMatch="false"></ng2-completer>
                    <div class="form-control-feedback">
                      <div *ngIf="search.errors && (search.dirty || search.touched)" class="danger">
                        <div [hidden]="!search.errors.required">
                          Ingrese el cliente que realiza el pedido. Si no lo encuentra, intente crear uno nuevo
                        </div>
                      </div>
                      <div [hidden]="order.client || !search.valid">
                        Para crear un cliente nuevo, presione el botón "NUEVO CLIENTE", o "NUEVO RÁPIDO" para hacerlo con los datos ya ingresados
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-4 col-lg-4">
                      <div class="form-group">
                        <label for="">NIT (*)</label>
                        <input type="text" name="clientNit" [(ngModel)]="order.clientNit" class="form-control" placeholder="NIT Cliente" (blur)="onBlurNit()">
                      </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                      <div class="form-group">
                        <label for="">Cliente (*)</label>
                        <input type="text" name="clientName" [(ngModel)]="order.clientName" class="form-control" placeholder="Nombre Cliente">
                      </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="">Teléfono (*)</label>
                        <input type="text" required #phone="ngModel" [(ngModel)]="order.phone" name="phone" class="form-control" placeholder="Teléfono">
                        <div class="form-control-feedback">
                          <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="danger">
                            <div [hidden]="!phone.errors.required">
                              Ingrese un teléfono para el pedido
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-1 d-flex flex-row justify-content-center" *ngIf="prev">
                      <div class="btn-pager d-flex flex-column justify-content-center">
                        <button type="button" class="btn btn-secondary btn-prev-next" ngbTooltip="Elegir otra dirección" (click)="choiceAddress(-1)">
                          <fa name="arrow-left"></fa>
                        </button>
                      </div>
                    </div>
                    <div class="col-12" [ngClass]="{'col-sm-10': prev && next, 'col-sm-11': prev && !next || !prev && next, 'col-sm-12': !prev && !next}">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group" [ngClass]="{'has-success': !location.errors, 'has-danger': location.errors && (location.dirty || location.touched) }">
                            <label class="form-control-label" for="">Dirección (*)</label>
                            <ng2-completer #location="ngModel" name="location" matchClass="match" inputClass="form-control" [(ngModel)]="order.location"
                              [datasource]="addresses" [minSearchLength]="2" inputName="location" textNoResults="Sin coincidencias. Se creará nuevo registro"
                              textSearching="Buscando..." placeholder="Busque una dirección ya existente o ingrese una nueva"
                              autoMatch="true" (blur)="onBlur()" required>
                            </ng2-completer>
                            <div class="form-control-feedback">
                              <div *ngIf="location.errors && (location.dirty || location.touched)" class="danger">
                                <div [hidden]="!location.errors.required">
                                  Ingrese la dirección para el pedido
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group" [ngClass]="{'has-success': !region.errors, 'has-danger': region.errors && (region.dirty || region.touched) }">
                            <label class="form-control-label">{{ regionName }}</label>
                            <ng-select #region="ngModel" name="region" filterPlaceholder="Buscar {{ regionName }}..." notFoundMsg="No se encontró ningún {{ regionName }}"
                              highlightColor="#37424A" highlightTextColor="#fff" placeholder="Seleccione {{ regionName }}..."
                              [options]="regions" [allowClear]="true" [noFilter]="5" required (selected)="onSelectRegion($event)"
                              (deselected)="onDeselectRegion($event)" [(ngModel)]="order.region">
                            </ng-select>
                            <div class="form-control-feedback">
                              <div *ngIf="region.errors && (region.dirty || region.touched)" class="danger">
                                <div [hidden]="!region.errors.required">
                                  Ingrese {{ regionName }} para el pedido
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group" [ngClass]="{'has-success': !city.errors, 'has-danger': city.errors && (city.dirty || city.touched) }">
                            <label class="form-control-label">{{ cityName }}</label>
                            <ng-select #city="ngModel" name="city" filterPlaceholder="Buscar {{ cityName }}..." notFoundMsg="No se encontró ningún {{ cityName }}"
                              highlightColor="#37424A" highlightTextColor="#fff" placeholder="Seleccione {{ cityName }}..."
                              [options]="cities" [allowClear]="true" [noFilter]="5" required (selected)="onSelectCity($event)"
                              (deselected)="onDeselectCity($event)" [(ngModel)]="order.city">
                            </ng-select>
                            <div class="form-control-feedback">
                              <div *ngIf="city.errors && (city.dirty || city.touched)" class="danger">
                                <div [hidden]="!city.errors.required">
                                  Ingrese {{ cityName }} para el pedido
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-1 d-flex flex-row justify-content-center" *ngIf="next">
                      <div class="btn-pager d-flex flex-column justify-content-center">
                        <button type="button" class="btn btn-secondary" ngbTooltip="Elegir otra dirección" (click)="choiceAddress(1)">
                          <fa name="arrow-right"></fa>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col" [hidden]="selectedClient">
                  <button type="button" ngbTooltip="Buscar cliente" class="btn btn-secondary btn-block" (click)="open(listClient)">
                    <fa name="search" class="pull-left"></fa> BUSCAR
                  </button>
                </div>
                <div class="col" [hidden]="!selectedClient">
                  <button type="button" ngbTooltip="Ver datos del cliente seleccionado" class="btn btn-secondary btn-block" (click)="open(viewClient)">
                    <fa name="eye" class="pull-left"></fa> VER
                  </button>
                </div>
                <div class="col" [hidden]="!selectedClient">
                  <button type="button" ngbTooltip="Borrar cliente seleccionado" class="btn btn-outline-danger btn-block" (click)="resetClient()">
                    <fa name="times" class="pull-left"></fa> LIMPIAR
                  </button>
                </div>
                <div class="col">
                  <button type="button" ngbTooltip="Borrar cliente seleccionado" class="btn btn-primary btn-block" (click)="open(newClient)">
                    <fa name="user-plus" class="pull-left"></fa> NUEVO CLIENTE
                  </button>
                </div>
                <div class="col" [hidden]="!(order.lat && order.lng && !order.client)">
                  <button type="button" ngbTooltip="Crear cliente anónimo con dirección" class="btn btn-outline-primary btn-block" (click)="newClientQuick()">
                    <fa name="bolt" class="pull-left"></fa> NUEVO RÁPIDO
                  </button>
                </div>
                <div class="col" [hidden]="!(order.lat && order.lng)">
                  <button type="button" ngbTooltip="Ver mapa con ubicación encontrada" class="btn btn-outline-info btn-block" (click)="open(map)">
                    <fa name="map"  class="pull-left"></fa> MAPA
                  </button>
                </div>
              </div>
              <hr>
              <div class="text-center">
                <h5>VEHÍCULO Y PRECIOS</h5>
              </div>

              <div class="row d-flex align-items-stretch">

                <div class="col align-items-start">
                  <div class="form-group">
                    <label class="form-control-label">POS asignado</label>

                    <div class="input-group">
                      <ng-select #device name="device" filterPlaceholder="Buscar POS..." notFoundMsg="No se encontró ningún POS para {{ order.type }}"
                        highlightColor="#37424A" highlightTextColor="#fff" placeholder="{{ order.after ? 'Lo asignaré más tarde': 'Seleccione POS'}}"
                        [options]="devices" [allowClear]="true" [noFilter]="5" [disabled]="order.after" (selected)="onSelectVehicle($event)"
                        (deselected)="onDeselectVehicle($event)" [(ngModel)]="order.device">
                      </ng-select>
                      <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" [disabled]="order.after || !order.lat || !order.lng" type="button" class="btn btn-primary dropdown-toggle"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <fa name="truck"></fa>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a class="dropdown-item" (click)="searchClosest() ">
                            <fa name="search" class="pull-left"></fa> Buscar al más cercano</a>
                        </div>
                      </div>
                    </div>
                    <label class="custom-control custom-checkbox">
                      <input [(ngModel)]="order.after" value="1" name="after" type="checkbox" class="custom-control-input" (change)="device.clear()">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description"> Lo asignaré más tarde</span>
                    </label>
                  </div>
                </div>
                <div class="col align-items-start">
                  <div class="form-group">
                    <label class="form-control-label">Lista de Precios a utilizar (*)</label>
                    <div class="input-group">
                      <ng-select #priceList="ngModel" required name="priceList" filterPlaceholder="Buscar lista de precio..." notFoundMsg="No se encontró ninguna lista de precios"
                        highlightColor="#37424A" highlightTextColor="#fff" placeholder="Seleccione lista de precios" [options]="priceLists"
                        [allowClear]="true" [noFilter]="5" (selected)="onSelectPriceList($event)" (deselected)="onDeselectPriceList($event)"
                        [(ngModel)]="order.priceList">
                      </ng-select>

                      <button type="button" *ngIf="iAmSuperAdmin()" class="btn btn-outline-primary" (click)="open(newpl)">
                        <fa name="plus"></fa>
                      </button>
                      <button type="button" *ngIf="order.priceList" class="btn btn-outline-secondary" (click)="open(content)">
                        <fa name="eye"></fa>
                      </button>
                    </div>
                    <div class="form-control-feedback">
                      <div *ngIf="priceList.errors && (priceList.dirty || priceList.touched)" class="danger">
                        <div [hidden]="!priceList.errors.required">
                          Ingrese una lista de precio para el pedido
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col align-items-start">
                  <div class="form-group">
                    <label class="form-control-label">Forma de Pago</label>
                    <ng-select #payMethod="ngModel" name="payMethod" filterPlaceholder="Buscar forma de pago..." notFoundMsg="No se encontró ninguna forma de pago"
                      highlightColor="#37424A" highlightTextColor="#fff" placeholder="Seleccione forma de pago" [options]="payMethods"
                      [allowClear]="true" [noFilter]="5" [(ngModel)]="order.payMethod">
                    </ng-select>
                  </div>
                </div>
              </div>
              <hr>
              <div class="text-center">
                <h5>OBSERVACIÓN</h5>
              </div>
              <div class="form-group">
                <textarea #obs [(ngModel)]="order.observation" name="observation" class="form-control" rows="2" placeholder="Ingrese alguna observación (Opcional)"></textarea>
              </div>
            </form>
            <hr>
            <div class="text-center">
              <h5>DETALLE</h5>
            </div>
            <form novalidate #formDetail="ngForm" (ngSubmit)="onSubmitDetail()">
              <div class="row d-flex flex-row justify-content-center align-items-center">
                <div class="col">
                  <div class="form-group" [ngClass]="{'has-success': !productType.errors, 'has-danger': productType.errors && (productType.dirty || productType.touched) }">
                    <label class="form-control-label" for="">Producto (*)</label>
                    <ng-select #productType="ngModel" name="productType" filterPlaceholder="Buscar producto..." notFoundMsg="No se encontró ningún producto"
                      highlightColor="#37424A" highlightTextColor="#fff" placeholder="Seleccione..." [options]="productTypes"
                      [allowClear]="true" [noFilter]="5" required (selected)="onSelectProductType($event)" (deselected)="onDeselectProductType($event)"
                      [(ngModel)]="item.productType">
                    </ng-select>
                  </div>
                </div>
                <div class="col">
                  <label class="form-control-label">Cantidad {{ order.type == 'GRANEL' ? 'Litros' : '' }}</label>
                  <div class="form-group" [ngClass]="{'has-success': !quantity.errors, 'has-danger': quantity.errors && (quantity.dirty || quantity.touched) }">
                    <input type="number" #quantity="ngModel" name="quantity" class="form-control" min="1" [(ngModel)]="item.quantity">
                  </div>
                </div>
                <div class="col">
                  <button id="add" class="btn btn-primary btn-block align-self-end" type="submit" [disabled]="!formDetail.form.valid">
                    <fa class="pull-left" name="plus"></fa>
                    AGREGAR
                  </button>
                </div>

              </div>
              <span class="text-danger" *ngIf="errorMessageItems">{{ errorMessageItems }}</span>
              <div class="row" *ngIf="items && items.length">
                <div class="col">
                  <table class="table table-resposive table-striped table-bordered table-hover table-sm">
                    <thead>
                      <tr>
                        <th class="text-center">PRODUCTO</th>
                        <th class="text-center">{{ order.type == 'GRANEL' ? 'LITROS' : 'CANTIDAD' }}</th>
                        <th class="text-center">
                          <fa name="usd"></fa> UNIT.</th>
                        <th class="text-center">
                          <fa name="minus-circle"></fa>
                        </th>
                        <th class="text-center">
                          <fa name="plus-circle"></fa>
                        </th>
                        <th class="text-center">
                          <fa name="usd"></fa> PARCIAL</th>
                        <th class="text-center"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of items">
                        <td>{{ i.productTypeName }}</td>
                        <td class="text-center">{{ i.quantity }}</td>
                        <td class="text-center">{{ i.price }}</td>
                        <td class="text-center">{{ i.discount }}</td>
                        <td class="text-center">{{ i.surcharge }}</td>
                        <td class="text-center">{{ (i.price - i.discount + i.surcharge) * i.quantity }}</td>
                        <td class="text-center">
                          <button class="btn btn-outline-danger btn-sm" (click)="deleteItem(i.id)">
                            <fa name="trash"></fa>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>TOTAL: </th>
                        <th class="text-center">{{ totalToPay }}</th>
                        <th></th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary btn-lg btn-block" [disabled]="!form.form.valid || !order.client || loading" (click)="onSubmit()">
            <fa name="save" class="pull-left"></fa> GUARDAR </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ selectedPriceListName }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-price-list-detail *ngIf="selectedPrices" [items]="selectedPrices"></app-price-list-detail>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>
<ng-template #newpl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Complete los datos</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-price-list-new [fromModal]="true" (onSubmitForm)="c('Close on submit'); onCreatePriceList($event)"></app-price-list-new>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #map let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ order.location }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <agm-map [latitude]="order.lat" [longitude]="order.lng" [zoom]="zoom" [minZoom]="minZoom">
      <agm-marker [latitude]="order.lat" [longitude]="order.lng" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
      </agm-marker>
    </agm-map>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #viewClient let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ selectedClient.fullname }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-clients-detail [client]="selectedClient"></app-clients-detail>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #newClient let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Complete los datos</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-clients-new [fromModal]="true" (submitForm)="c(''); onCreateNewClient($event)"></app-clients-new>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<ng-template #listClient let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Clientes</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-clients [fromModal]="true" (selected)="c(''); onSelectClient($event)"></app-clients>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>