
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let pl of priceLists">
      <div class="card">
        <div class="card-block">
            <h4 class="card-title">{{ pl.name }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{pl.city ? pl.city + ', ' + pl.region : ''}}</h6>
          <app-price-list-detail [items]="pl.items"></app-price-list-detail>
        </div>
        <div class="card-footer d-flex flex-row justify-content-between align-items-center">
          <a class="btn btn-outline-primary" [routerLink]="['/price-list/edit', pl._id]">
            <fa name="pencil"></fa>
          </a>
          <a class="btn btn-outline-danger" (click)="tryDelete(pl._id)">
            <fa name="trash"></fa>
          </a>
        </div>
      </div>
    </div>

  </div>




<div class="card" *ngIf="!priceLists || !priceLists.length || priceLists.length == 0">
  <div class="card-block">
    No tiene listas de precios en el sistema
  </div>
</div>