.logo {
    width: 100px;
    -webkit-filter: drop-shadow(1px 1px 0 black) 
                    drop-shadow(-1px -1px 0 white);
    filter:drop-shadow(1px 1px 0 black) 
           drop-shadow(-1px -1px 0 white);
}
.img-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}