<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" *ngIf="delivery" [ngClass]="{'card-success': delivery && delivery.done, 'card-danger': !delivery || !delivery.done }">
        <div class="card-block text-center">
          <h3>
            <fa name="{{ delivery.done ? 'check' : 'times' }}"></fa>
            {{ delivery.done ? 'ENTREGA REALIZADA' : 'NO ENTREGADA' }}
          </h3>
        </div>
      </div>
    </div>
  </div>
  <!-- ORDER -->
  <app-order-detail [order]="order"></app-order-detail>
  <!-- DELIVERY -->
  <div class="row detail-view" *ngIf="sale">
    <div class="col">
      <h3>VENTA</h3>
      <section>
        <div class="row">
          <div class="col">
            <div class="label">Tipo de Venta</div>
            <div class="data">{{ sale.type }}</div>
          </div>
          <div class="col">
            <div class="label">Medio de Pago</div>
            <div class="data">{{ sale.paymentMethod }}</div>
          </div>
          <div class="col">
            <div class="label">Fecha de venta</div>
            <div class="data">{{ sale.createdAt | date: 'dd-MM-yyyy HH:mm'}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="label">Placa</div>
            <div class="data">{{ order.vehicle?.licensePlate }}</div>
          </div>
          <div class="col">
            <div class="label">Usuario</div>
            <div class="data">{{ !sale.user ? '' : sale.user?.name + ' ' + sale.user?.surname }}</div>
          </div>
          <div class="col">
              <div class="label"></div>
              <div class="data"></div>
            </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="label">Detalle de venta</div>
            <table class="table table-striped table-hover table-bordered table-sm table-details">
              <thead>
                <tr>
                  <th>Producto</th>
                  <th>{{order.type == 'GRANEL' ? 'Litros' : 'Cantidad'}}</th>
                  <th>$ U.</th>
                  <th><fa name="minus-circle"></fa></th>
                  <th><fa name="plus-circle"></fa></th>
                  <th>Neg.</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of sale.items">
                  <td>{{ item.productType.name }}</td>
                  <td>{{ item.quantity | number }}</td>
                  <td>{{ (item.price || 0) | number }}</td>
                  <td>{{ (item.discount || 0) | number }}</td>
                  <td>{{ (item.surcharge || 0) | number }}</td>
                  <td>{{ (item.negotiable || 0) | number }}</td>
                  <td>{{ (((item.price || 0) - (item.discount || 0) - (item.negotiable || 0) + (item.surcharge || 0)) * item.quantity) | number:'4.0-2':'es' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <section class="section-map">
        <agm-map [zoom]="15" [latitude]="delivery?.coordinates?.lat || 0" [longitude]="delivery?.coordinates?.lng || 0">
          <agm-marker [latitude]="delivery?.coordinates?.lat || 0" [longitude]="delivery?.coordinates?.lng || 0" [markerDraggable]="false">
          </agm-marker>
        </agm-map>
      </section>
    </div>

  </div>
</div>