<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="container text-center">
      <img src="../../assets/images/logo.png" alt="" class="img-responsive logo">
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="page-header text-center">
      <h1>{{title}}</h1>
    </div>
    <hr>
    <div class="card">
      <div class="card-block">
        <form novalidate #loginForm="ngForm" (submit)="onSubmit()">
          <div class="form-group" 
            [ngClass]="{'has-success': !username.errors && (username.dirty || username.touched), 
            'has-danger': username.errors && (username.dirty || username.touched) }">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
              <input class="form-control" required #username="ngModel" placeholder="Usuario"
               [ngClass]="{'form-control-success': !username.errors && (username.dirty || username.touched), 
            'form-control-danger': username.errors && (username.dirty || username.touched) }"
              name="username" [(ngModel)]="user.username"  />
            </div>
            <div *ngIf="username.errors && (username.dirty || username.touched)" class="form-control-feedback">
              <div [hidden]="!username.errors.required">
                Ingrese el nombre de usuario
              </div>
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-success': !password.errors && (password.dirty || password.touched), 
            'has-danger': password.errors && (password.dirty || password.touched) }">
            <div class="input-group">
              <span class="input-group-addon">
                <fa name="lock"></fa>
              </span>
              <input class="form-control" required #password="ngModel" name type="password" name="password" 
              placeholder="Contraseña" [(ngModel)]="user.password" 
              [ngClass]="{'form-control-success': !password.errors && (password.dirty || password.touched), 
            'form-control-danger': password.errors && (password.dirty || password.touched) }"/>
            </div>
            <div *ngIf="password.errors && (password.dirty || password.touched)" class="form-control-feedback">
              <div [hidden]="!password.errors.required">
                Ingrese una contraseña
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-block" type="submit" [disabled]="!loginForm.form.valid">
            <fa *ngIf="loading" name="cog" animation="spin"></fa>
            INGRESAR
          </button>
          <br>
          <div class="alert alert-dismissible alert-danger" *ngIf="errorMessage">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ errorMessage }}
          </div>
          <div class="alert alert-dismissible alert-success" *ngIf="successMessage">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
             {{ successMessage }}
          </div>
        </form>
        
      </div>
    </div>
    <hr>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>   
</div>
<div class="align-middle footer-login">
  <div class="container text-center">
    <img src="../../assets/images/commzgate.png" alt="" class="img-responsive">
  </div>
</div>