<div class="detail-view">
    <h3>TRANSFERENCIA</h3>
    <div class="row">
        <div class="col">
            <section>
                <div class="row">
                    <div class="col">
                        <div class="label">Placa Vehículo</div>
                        <div class="data">{{ data.licensePlate }}</div>
                    </div>
                    <div class="col">
                        <div class="label">Origen</div>
                        <div class="data">{{ data.originDependence?.name}}</div>
                    </div>
                    <div class="col">
                        <div class="label">Documentos</div>
                        <div class="data">{{ data.documents }}</div>
                    </div>
                </div>
                
            </section>
        </div>
    </div>

</div>