<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="page-header d-flex p-2 flex-row justify-content-between align-items-center">
        <fa name="users" size="2x"></fa>
        <h1>Usuarios</h1> 
        <a class="btn btn-outline-primary" routerLink="/users/new">
          <fa name="plus"></fa> NUEVO 
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-block">
          <input type="text" class="form-control-filter" placeholder="Buscar" [(ngModel)]="filter" (keyup)="onKey($event)" >
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-users-list [users]="users"></app-users-list>
      <app-pager [pager]="pager" (settingPage)="setPage($event)"></app-pager>
    </div>
  </div>
</div>
