<div class="container principal">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header d-flex flex-row justify-content-between align-items-center">
          <button class="btn btn-secondary" (click)="onCancel()" title="Volver">
          <fa name="arrow-left"></fa>
        </button>
          <h1>Editar Vehículo</h1>
          <fa name="truck" size="2x"></fa>
        </div>
        <form novalidate #form="ngForm" (ngSubmit)="onSubmit()">
          <div class="card-block">
            <div class="d-flex flex-row justify-content-start">
              <label class="custom-control custom-radio d-flex ">
              <input id="radio1" #type="ngModel" [(ngModel)]="vehicle.type" value="ENVASADO" name="type" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">ENVASADO</span>
            </label>
              <label class="custom-control custom-radio">
              <input id="radio2" #type="ngModel" [(ngModel)]="vehicle.type" value="GRANEL" name="type" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">GRANEL</span>
            </label>
            </div>
            <div class="form-group" [ngClass]="{'has-success': !licensePlate.errors, 'has-danger': licensePlate.errors && (licensePlate.dirty || licensePlate.touched) }">
              <label class="form-control-label" for="">Placa (*)</label>
              <input required type="text" #licensePlate="ngModel" name="licensePlate" [(ngModel)]="vehicle.licensePlate" class="form-control"
                placeholder="Placa">
              <div class="form-control-feedback">
                <div *ngIf="licensePlate.errors && (licensePlate.dirty || licensePlate.touched)" class="danger">
                  <div [hidden]="!licensePlate.errors.required">
                    Ingrese el número de placa
                  </div>
                </div>

              </div>
            </div>

            <div class="form-group" [ngClass]="{'has-success': !trademark.errors, 'has-danger': trademark.errors && (trademark.dirty || trademark.touched)}">
              <label class="form-control-label" for="">Marca</label>
              <input type="text" #trademark="ngModel" name="trademark" [(ngModel)]="vehicle.trademark" class="form-control" placeholder="Marca">
            </div>

            <div class="form-group" [ngClass]="{'has-success': !capacity.errors, 'has-danger': capacity.errors && (capacity.dirty || capacity.touched)}">
              <label class="form-control-label" for="">Capacidad (*)</label>
              <div class="input-group">
                <input type="number" min="1" required #capacity="ngModel" name="capacity" [(ngModel)]="vehicle.capacity" class="form-control"
                  placeholder="Capacidad">
                <span *ngIf="type.value" class="input-group-addon">
                {{ type.value == 'ENVASADO' ? 'UNIDADES' : 'LITROS' }}
              </span>
              </div>
              <div *ngIf="capacity.errors && (capacity.dirty || capacity.touched)" class="danger">
                <div [hidden]="!capacity.errors.required">
                  Ingrese la capacidad del vehículo
                </div>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'has-success': !dependence.errors, 'has-danger': dependence.errors && (dependence.dirty || dependence.touched)}">
              <label class="form-control-label" for="">Dependencia (*)</label>
              <select required #dependence="ngModel" name="dependence" [(ngModel)]="vehicle.dependence" class="form-control">
              <option *ngFor="let d of dependences" [value]="d._id">
                {{ d.name }}
              </option>
            </select>
              <div class="form-control-feedback">
                <div *ngIf="dependence.errors && (dependence.dirty || dependence.touched)" class="danger">
                  <div [hidden]="!dependence.errors.required">
                    Ingrese la dependencia a la que corresponde el vehículo
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label">Usuario asignado</label>
              <div class="input-group">
                <ng-select filterPlaceholder="Buscar usuario..." notFoundMsg="No se encontró ningún usuario" placeholder="Seleccione usuario... (Opcional)"
                  [options]="users" highlightColor="#37424A" highlightTextColor="#fff" [allowClear]="true" [noFilter]="3" [(ngModel)]="vehicle.user"
                  name="user">
                </ng-select>
                <button type="button" class="btn btn-outline-primary" (click)="open(newuser)">
                <fa name="plus"></fa>
              </button>
              </div>

            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary btn-block" [disabled]="!form.form.valid"> <fa name="save"></fa> GUARDAR </button>
          </div>
        </form>
      </div>
      <div class="card" *ngIf="errorMessage || successMessage">
        <div class="card-block">
          <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
          <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #newuser let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">Complete los datos</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-users-new [fromModal]="true" (onSubmitForm)="c('submit form'); refreshUser($event)" [fromVehiclesModule]="true"></app-users-new>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>