<div *ngIf="type && data" [ngSwitch]="type">
  <app-movements-details-sale *ngSwitchCase="'VENTA'" [data]="data"></app-movements-details-sale>
  <app-movements-details-station *ngSwitchCase="'ESTACIÓN'" [data]="data"></app-movements-details-station>
  <app-movements-details-transfer *ngSwitchCase="'TRANSFERENCIA'" [data]="data"></app-movements-details-transfer>
  <app-movements-details-truckload *ngSwitchCase="'CARGA'" [data]="data"></app-movements-details-truckload>
  <app-movements-details-truckunload *ngSwitchCase="'DESCARGA'" [data]="data"></app-movements-details-truckunload>
</div>
