.selected {
    background: #DF691A;
    color: #FFF;
}
.panel {
    border: 1px solid #FFF;
    padding: 10px 10px;
    margin: 10px;
}
.panel h4 {
    color: #DF691A;
    text-align: center;
}
.success {
    color: #5cb85c;
}
.filter-pt {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin: 2px;
}
.filter-pt .selected {
    background: #DF691A;
    color: #FFF;
}

#items {
    max-height: 1200px !important;
    overflow-y: auto;
    overflow-x: hidden;
}