/* You can add global styles to this file, and also import other style files */
:root{
    --color-primary: #DF691A;
    --color-secondary: #37424A;
}
*:not(i){
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.navbar-inverse .navbar-nav .nav-link {
    text-transform: uppercase;
    padding: 5px 20px;
}
    .navbar-inverse .navbar-nav .nav-link fa {
        font-size: 14pt;
        margin-right: 10px;
    }
    .navbar-inverse .navbar-nav .nav-link:hover {
        color: var(--color-primary);
    } 
.dropdown-menu {
    margin-left: -30px;
}

.table thead th {
    color: #FFF;
    border-bottom-color: #ccc;
}

.form-control::-webkit-input-placeholder { color: #CCC; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #CCC; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #CCC; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #CCC; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #CCC; }  /* Microsoft Edge */

.form-control-filter::-webkit-input-placeholder { color: #DDD; }  /* WebKit, Blink, Edge */
.form-control-filter:-moz-placeholder { color: #DDD; }  /* Mozilla Firefox 4 to 18 */
.form-control-filter::-moz-placeholder { color: #DDD; }  /* Mozilla Firefox 19+ */
.form-control-filter:-ms-input-placeholder { color: #DDD; }  /* Internet Explorer 10-11 */
.form-control-filter::-ms-input-placeholder { color: #DDD; }  /* Microsoft Edge */

.form-control-filter:focus::-webkit-input-placeholder { color: #DDD; }  /* WebKit, Blink, Edge */
.form-control-filter:focus:-moz-placeholder { color: #DDD; }  /* Mozilla Firefox 4 to 18 */
.form-control-filter:focus::-moz-placeholder { color: #DDD; }  /* Mozilla Firefox 19+ */
.form-control-filter:focus:-ms-input-placeholder { color: #DDD; }  /* Internet Explorer 10-11 */
.form-control-filter:focus::-ms-input-placeholder { color: #DDD; }  /* Microsoft Edge */
.form-control-filter {
    width: 100%;
    border: none;
    background: none;
    color: #fff;
    border-bottom: 1px solid #ddd;
    outline: none;
    padding: 5px 15px;
    font-size: 16pt;
}
.form-control-filter:focus {
    border-bottom-color: var(--color-primary);
}
.card {
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
    border-color: #aaa;
}
.danger {
    color: #F44336;
}
.btn {
    cursor: pointer;
}
.footer {
    position: fixed;
    text-align: center;
    height: 25px;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 2px;
    z-index: 5000;
}
    .footer img {
        height: 18px;
    }

/* Date Picker */
.picker-banner {
    background: #DF691A !important;
}
.picker-control.footer {
    background:var(--color-secondary);
    color: #fff;
}
.picker-day.picker-show.picker-day-selected {
    background: var(--color-primary) !important;
}
.picker-day.picker-show:hover {
    background: rgba(0,0,0,0.1) !important;
}
.today-icon {
    border-top-color: var(--color-primary) !important;
}
.picker-year.picker-year-current,
.picker-month.picker-month-current {
    background: var(--color-primary) !important;
}
.picker-year:hover,
.picker-month:hover {
    background: rgba(0,0,0,0.1) !important;
}


/* SELECT*/
ng-select > div {
    background: #FFF !important;
    height: 38px;
}
select-dropdown > div .options ul li {
    color: #37424A;
}
ng-select > div > div.single > div.value, 
.option-select 
{
    color: #37424A !important
}

ng-select > div > div.single > div.placeholder {
    color: #888 !important
}

.form-group.has-danger ng-select.ng-invalid{
    border: 1px solid #F44336;
}
.form-group.has-success ng-select.ng-valid{
    border: 1px solid #5cb85c;
}

.no-padding {
    padding: 0 !important
}

/*MAP*/
.agm-map-container-inner.sebm-google-map-container-inner {
    border: 5px solid #FFF;
    box-shadow: 2px 2px 20px #ccc;
}