<div class="container-fluid principal">
  <div class="row">
    <div class="col">
      <div class="page-header d-flex flex-row justify-content-between align-items-center">
        <fa name="arrows-alt" size="2x"></fa>
        <h1>Movimientos</h1>
        <fa name="sss"></fa>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-block">
          <app-movements-types (select)="selectType($event)" [types]="types"></app-movements-types>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-block">
              <div class="row">
                <div class="col">
                    <input type="text" class="form-control-filter" placeholder="Buscar por usuario o dispositivo" (keyup)="onKey()" [(ngModel)]="filter">
                </div>
                <div class="col" *ngIf="selectedRange">
                  <button class="btn btn-secondary btn-block" (click)="open(dates, 'lg')">
                    <fa name="calendar" class="pull-left"></fa>
                    {{ selectedRange && selectedRange.from ? (selectedRange.from | date: 'dd-MM-yyyy') : '' }} / 
                    {{ selectedRange && selectedRange.to ? (selectedRange.to | date: 'dd-MM-yyyy') : '' }}
                  </button>
                </div>
                <div class="col col-lg-3" *ngIf="type && typesForExcel.indexOf(type) > -1">
                    <button type="button" (click)="exportTransactions()" [disabled]="!movements || !movements.length || movements.length == 0 || loadingExcel" class="btn btn-success btn-block" *ngIf="type && typesForExcel.indexOf(type) > -1">
                        <fa class="pull-left" *ngIf="!loadingExcel" name="file-excel-o"></fa>
                        <fa class="pull-left" *ngIf="loadingExcel" name="circle-o-notch" animation="spin"></fa>  
                        {{' EXPORTAR ' + type }}
                    </button>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>
      
      <app-movements-list (select)="onSelectTransactionOrMovement($event)" [movements]="movements" [selectedTransaction]="selectedTransaction"
        [selectedMovement]="selectedMovement"></app-movements-list>
      <app-pager [pager]="pager" (refresh)="refresh()" (settingPage)="setPage($event)"></app-pager>
    </div>
  </div>
</div>
<app-loading *ngIf="loading" [message]="'Cargando movimientos'"></app-loading>


<ng-template #dates let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Seleccione fechas</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('CLOSE')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <app-datepicker-range [months]="2" (change)="onChangeDates($event)"></app-datepicker-range>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('CANCEL')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="c('OK')">Aceptar</button>
  </div>
</ng-template>