<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="page-header d-flex flex-row justify-content-between align-items-center">
        <fa name="phone" size="2x"></fa>
        <h1>Pedidos</h1>
        <a class="btn btn-outline-primary" routerLink="/order/create">
          <fa name="plus"></fa> NUEVO</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-block">
          <div class="row d-flex flex-row justify-content-between align-items-center">
            <div class="col text-center">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active" (click)="changeType('vehicle')">
                  <fa name="truck"></fa>
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> VEHÍCULO
                </label>
                <label class="btn btn-primary" (click)="changeType('userName')">
                  <input type="radio" name="options" id="option2" autocomplete="off"> USUARIO
                  <fa name="user"></fa>
                </label>
              </div>
            </div>
            <div class="col text-center">
                <input type="text" class="form-control-filter" (keyup)="onKey()" [(ngModel)]="filter" placeholder="Buscar por placa o usuario">
              </div>
            <div class="col text-center">
              <button class="btn btn-secondary btn-block" *ngIf="selectedRange" (click)="open(dates,'lg')">
                <fa name="calendar"></fa>
                {{selectedRange.from | date: 'dd-MM-yyyy'}} / {{selectedRange.to | date: 'dd-MM-yyyy'}}
              </button>
            </div>
            <div class="col text-center" *ngIf="iAmSuperAdmin()">
              <button class="btn btn-secondary btn-block" (click)="open(distributors, 'lg')">
                <fa name="handshake-o"></fa>
                {{ distributorName }}
              </button>
            </div>
            <div class="col text-center">
              <button class="btn btn-success btn-block" (click)="export()">
                <fa name="file-excel-o"></fa> EXPORTAR
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row principal">
    <div class="col">
      <app-order-monitor-list (select)="onSelectDistributor($event)" [data]="data" [type]="type" [selectedRange]="selectedRange" [distributor]="distributor" [filter]="filter"></app-order-monitor-list>
      <app-pager [pager]="pager" (refresh)="refresh()" (settingPage)="setPage($event)"></app-pager>
    </div>
  </div>
</div>

<ng-template #dates let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Seleccione fechas</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('CLOSE')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <app-datepicker-range [months]="2" (change)="onChangeDates($event)"></app-datepicker-range>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('CANCEL')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="c('OK')">Aceptar</button>
  </div>
</ng-template>

<ng-template #distributors let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Seleccione distribuidor</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('CLOSE')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <app-distributors [fromModal]="true" (select)="d('SELECT'); onSelectDistributor($event)"></app-distributors>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('CANCEL')">Cerrar</button>
  </div>
</ng-template>
<app-loading *ngIf="loading" [message]="'Cargando pedidos'"></app-loading>