<div class="container-fluid principal">
  <div class="row">
    <div class="col">
      <div class="page-header d-flex p-2 flex-row justify-content-between align-items-center">
        <fa name="tags" size="2x"></fa>
        <h1>Stock</h1>
        <div class="btn-group">
            <button type="button" class="btn btn-success">
                <fa *ngIf="!loadingExcel" name="file-excel-o"></fa>
                <fa *ngIf="loadingExcel" name="spinner" animation="spin"></fa> EXPORTAR
            </button>
            <button type="button" [disabled]="loadingExcel" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
          <div class="dropdown-menu">
            <a (click)="exportResume()" class="dropdown-item">
              <fa name="file-excel-o"></fa> RESUMEN
            </a>
            <a (click)="export()" class="dropdown-item">
              <fa name="file-excel-o"></fa> DETALLE
            </a>
          </div>
        </div>

      </div>
      <div class="card">
        <div class="card-block">
          <form novalidate #formFilter="ngForm" (ngSubmit)="onSubmitFilter()">
            <input type="text" class="form-control-filter" placeholder="Buscar un producto" name="filter" [(ngModel)]="filter">
          </form>
        </div>
      </div>
      <app-stock-dependences [dependences]="dependences" [selectedDependence]="selectedDependence" [selectedType]="selectedType"
        [selectedWarehouse]="selectedWarehouse" [selectedNif]="selectedNif" [loadingExcel]="loadingExcel" 
        (exporting)="export($event)"
        (exportingResume)="exportResume($event)">
      </app-stock-dependences>
    </div>
  </div>

</div>

<app-loading *ngIf="loading" [message]="'Espere un momento por favor'"></app-loading>